{% extends "utils/base.html" %}

{% block start%}
<style>
  body {
    background: linear-gradient(135deg, #662828, #ff0000);
    color: #fff;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
  }

  .card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(198, 95, 95, 0.4);
  }

  .card-title {
    color: #5e1717;
    font-weight: 600;
  }

  .badge {
    background-color: #892f2f !important;
  }
</style>

<div class="container mt-5 pt-5 pb-5">
    <div class="row">
      {% for hotel in hotels %}
        <div class="col-md-3 mt-3">
        <div class="card shadow" style="width: 15rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf_2_d3uqNSVmYnypSU6WFf4WeoueuBByJEA&s" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{hotel.hotel_name}}</h5>
            
              Price<span class="badge text-bg-danger">{{hotel.hotel_price}}</span>
              Offer<span class="badge text-bg-success">{{hotel.hotel_offer_price}}</span>
              <hr>
              <p>{{hotel.hotel_location}}</p>
            <span class="badge text-bg-primary">Swimming Pool</span>
            <span class="badge text-bg-primary">AC</span>
        </div>
        </div>
    </div>

    {% endfor %}


    





{% endblock %}