<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OYO-On Your Own</title>
    <link rel="icon" href="https://i.pinimg.com/736x/60/20/3c/60203c06b364a8764b54bba1a35290c2.jpg" type="image/x-icon"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
</head>
  <body>
    
    {% include "utils/navbar.html" %}
    

    {% block start%}

    {% endblock %}

      <div class="container bg-grey ">
        
            <footer class="py-3 my-4">
                <div class="text-center mb-3">
                  <a href="{% url 'login_vendor' %}" class="btn btn-outline-white mx-2">Login Vendor</a>
                  <a href="{% url 'register_vendor' %}" class="btn btn-outline-white mx-2">Register Vendor</a>
                </div>
                <hr style="color: hsl(0, 4%, 5%);">
                <p class="text-center text-body-secondary">&copy;2025 Company, Inc</p>  
            </footer>
        </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>